src/main/mule/test2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">


	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e20114dd-3b8d-4548-a7a1-4b88604c8b4c" >
		<http:listener-connection host="0.0.0.0" port="6666" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="65a6da62-6bc6-41e8-9fed-5d3ad3d29d45" >
		<db:my-sql-connection host="${secure::dbproperties.mule.host}" port="${secure::dbproperties.mule.port}" user="${secure::dbproperties.mule.user}" password="${secure::dbproperties.mule.password}" database="training" />
	</db:config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="1ab63627-a8aa-42e5-8bd8-ceb54baf1995" file="dev.yaml" key="mymulesoftkey" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<api-gateway:autodiscovery apiId="16785420" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="ef2e4b9d-04e0-4d0a-8873-fbcabb4b565e" flowRef="test_2Flow" />
	<flow name="test_2Flow" doc:id="1d8d0830-13b8-4bf2-bc79-9fe3c2e8cb38" >
		<http:listener doc:name="Listener" doc:id="7a94e082-e081-41dd-8d9b-f9a0db48aef4" config-ref="HTTP_Listener_config" path="/test2"/>
		<set-variable value="#[attributes.queryParams.price]" doc:name="Set Variable" doc:id="6e24e758-defd-475e-9dba-e3240d50afa6" variableName="pricevar"/>
		<db:select doc:id="47b379a8-0e0b-4461-9310-df99137b19f5" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM american
]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8ae4c6af-8eb3-499e-a00d-926852a30e8c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7aa0b1dd-dd53-4976-98b5-20c31a0ed462" type="ANY">
			    <ee:transform doc:name="Transform Message" doc:id="322ee45c-9dae-4968-ba36-8de6b4bfc42a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"Error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="2f58c035-f973-4523-8fff-278126e94691" message="App Failed"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
